<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Erro 404 - Página não encontrada</title>
    <link rel="stylesheet" href="Erro.css"/>
    </head>
<body>
	<div class="container">
		<img class="logo" src="/img/images.png" alt="Logo">
		<h1>Erro 404 - Página não encontrada</h1>
		<p>Desculpe, ainda não foi desenvolvida essa rota pelos programadores cariocas 😒 </p>
	</div>
</body>
</html>